[core]
	excludesfile = /Users/dbender/.gitignore_global
	trustctime = false
	abbrev = 7
[user]
	name = Derek Bender
	email = 170351+djbender@users.noreply.github.com
[alias]
	clown = clone
	ctags = !.git/hooks/ctags
  ca = commit --amend --no-edit
  cane = commit --amend --no-edit
  whatadded = log --diff-filter=A
  filenames = show HEAD --name-only
# [init]
# 	templatedir = ~/.git_template
[pull]
	ff = only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
