[user]
	name = Derek Bender
	email = derek@madebymarket.com
[core]
	excludesfile = /Users/derek/.gitignore_global
[heroku]
	account = work
[log]
	decorate = full
[color]
	ui = true
[help]
	autocorrect = 1
