[user]
	name = Derek Bender
	email = derek@madebymarket.com
[core]
	excludesfile = /Users/derek/.gitignore_global
	editor = /usr/local/bin/vim
[heroku]
	account = work
[log]
	decorate = full
[color]
	ui = true
[help]
	autocorrect = 1
[push]
	default = current
